@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap");
@import "tailwindcss";

:root {
  --radius: 14px;
}

html,
body,
#root {
  height: 100%;
}

/* Общие стили для тела */
body {
  @apply bg-white text-gray-900;

  font-family: "MedievalSharp", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
}

/* Чтобы элементы формы тоже использовали этот шрифт */
button,
input,
textarea {
  font-family: inherit;
}
