@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap");

/* Подключение Tailwind 4 */
@import "tailwindcss";

/* Дальше — твой кастомный CSS */
:root {
  --radius: 14px;
}

html,
body,
#root {
  height: 100%;
}

body {
  background-color: white;
  color: #111827; /* text-gray-900 */
  font-family: "MedievalSharp", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
}

button,
input,
textarea {
  font-family: inherit;
}
